
<h3> Pawdnas </h3>
<% @partners.each do |partner| %>
	<%= partner.full_name %>
	<%= partner.email_address %>
	<%= partner.phone_number %>

	<%= partner.goal.title %><br />
	Remind accountability partner: <%= partner.frequency %>

	<br />
	<br />
<% end %>



