<!-- users/8/goals/1 -->

<h1>Show a goal</h1>

<%= @goal.title %>
<%= @goal.deadline %>
<%= @goal.description %>
<img src="<%= @goal.goal_pic %>">


<%= @goal.user.name %>






<% @goal.partners.each do |partner| %>
	<%= partner.full_name %>
<% end %>

